.jumbotron {
    
    background-image: url(images/bg_2.jpg);
    
    background-size: cover;
   
}
.jumbotron-mum {
    
    background-image: url(images/mumbai/mum_1.jpg);
    height: 400px;
    background-size: cover;
   
}
.jumbotron-ban {
    
    background-image: url(images/bangalore/ban_1.jpg);
    height: 450px;
    background-size: cover;
   
}
.jumbotron-del {
    
    background-image: url(images/delhi/del_1.jpg);
    height: 450px;
    background-size: cover;
   
}
.jumbotron-gan {
    
    background-image: url(images/gangtok/gan_1.jpg);
    height: 450px;
    background-size: cover;
   
}
.jumbotron-sri {
    
    background-image: url(images/srinagar/sri_1.jpg);
    height: 450px;
    background-size: cover;
   
}
.jumbotron-amr {
    
    background-image: url(images/amritsar/amr_1.jpg);
    height: 450px;
    background-size: cover;
   
}
.jumbotron-pan {
    
    background-image: url(images/panaji/pan_1.jpg);
    height: 450px;
    background-size: cover;
   
}
.jumbotron-kol {
    
    background-image: url(images/kolkata/kol_1.jpg);
    height: 450px;
    background-size: cover;
   
}
.jumbotron-che {
    
    background-image: url(images/chennai/che_1.jpg);
    height: 450px;
    background-size: cover;
   
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}
.tours{
	background:#fff;
}
.destinations{
	background:#fff;
}
.hotels{
	background:#fff;
}

.main-block{
	float:left;
	width:60%;
	padding:15px;
	box-sizing:border-box;
}
.sidebar{

	float:right;
	width:40%;
	padding:15px;
	box-sizing:border-box;
}
.footer
{
    
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}
.image{
	transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
.text {
  background-color: blue;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
     /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}